.disabled {
    display: none;
}

.start-stop-btn {
    min-width: 70px;
    min-height: 30px;
    background-color: var(--color-primary);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-color: transparent;
    font-size: 16px;
    color: #e8e8e8;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 50px;
    box-shadow: #424242;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.start-stop-btn:hover {
    transform: scale(1.1);
}

.saved-position {
    position: absolute;
    top: 50px;
    right: 150px;
}

.results-span {
    border: 1px solid var(--color-alternative);
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
}

.results-div-style {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

.extension-title {
    font-family: Roboto, serif;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
    --font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    --color-text: #666;
    --color-text-light: #888;
    --color-text-dark: #424242;
    --color-border: #e8e8e8;
    --color-primary: #ff9900;
    --color-primary-red: #ef6c00;
    --color-reset: #f3a902;
    --color-secondary: #c0dce6;
    --color-anchor: #00aaf0;
    --color-alternative: #4caf50;
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    color: #666;
    color: var(--color-text);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    padding: 18px;
    border: solid;
    border-width: 10px;
    border-color: #e65100;
    box-sizing: border-box;
}

img {
    width: 100%
}

button, input, textarea {
    font-family: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-family: var(--font-family);
    outline: none
}

.text-small {
    font-size: 12px;
    font-weight: 500;
    color: #afafaf
}

.text-font-family {
    font-family: Roboto, serif;
}

b, .bold {
    font-weight: 700
}

.icon {
    --icon-size: 16px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-width: 16px;
    min-width: var(--icon-size, 16px);
    max-width: 16px;
    max-width: var(--icon-size, 16px);
    height: 16px;
    height: var(--icon-size, 16px)
}

textarea, input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 10px;
    border: 1px solid #05c896;
    border: 1px solid var(--color-primary);
    border-radius: 5px
}

.row-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 12px 10px;
    gap: 12px 10px;
    width: 100%
}

.row-center .row-center--variant {
    margin-top: 3px;
}

.popup-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e8e8e8;
    border-bottom: 1px solid var(--color-border)
}

.popup--title__saving-confirmation {
    color: #4caf50 !important;
}

.hidden {
    opacity: 0;
}

.popup--title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
    color: #424242;
    color: var(--color-text-dark)
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    color: #424242;
    color: var(--color-text-dark)
}

.logo .icon {
    --icon-size: 50px;
    margin-right: 10px
}

.popup-body {
    padding: 0 1.5rem;
    width: 100%;
    min-width: 490px;
}

.custom-input-script-length {
    width: 500px !important;
}

.hidden {
    display: none;
}